[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {extras = ["crt"], version = "*"}
gunicorn = {version = "*", index = "pypi"}
pandas = "*"
flask = {version = "*", index = "pypi"}
python-dotenv = "*"

[dev-packages]
pytest = {version = "*", index = "pypi"}

[requires]
python_version = "3.9.14"
