{% extends "components/base.html" %}

{% block content %}
<div id="calc-page">
    <header>{% include "components/navigation.html" %}</header>
    <div class="calc-config-container">
        <h1>Configure a Simulation</h1>
        <p><b>Download an Excel macro-enabled workbook that will help create the input data files here. Use the HWP
                Ribbon to export data in the correct format for this tool or to add a new year. Do NOT change the basic
                format of any of the worksheets. If you experience difficulties running the HWP model, try a different
                web browser. Google Chrome is suggested.</b></p>
    </div>

    <!-- Accordion -->
    <div class="accordion">
        <!-- <h1>00 Download a Template</h1>
        <div>
            <h2>It is important to note that the input files containing yearly data must all have the same years, in
                descending order from top to bottom, or left to right. If all workbook sheets are not populated with the
                same years the model will generate an error.


            </h2>
            
        </div> -->

        <h1>01 Upload yearly harvest data</h1>
        <div>

        </div>

        <h1>02 Upload yearly timber product ratios</h1>
        <div>
        </div>

        <h1>03 Upload Yearly primary product ratios or choose region for default ratios</h1>
        <div></div>

        <h1>04 Upload custom ratios (optional)</h1>
        <div>
            <h2>Upload yearly end use product ratios</h2>
            <div></div>
            <h2>Upload end use product half lives</h2>
            <div></div>
            <h2>Upload discarded products disposition ratios</h2>
            <div></div>
            <h2>Upload Discarded products disposition half lives and land fill fixed ratios</h2>
            <div></div>
            <h2>Upload Distribution parameters</h2>
            <div></div>
            <h2>Upload Proportions for burned with energy capture</h2>
            <div></div>
            <h2>Upload product CCF to metric tons C conversion factors</h2>
            <div></div>
        </div>

        <h1>06 Enter number of iterations</h1>
        <div></div>

        <h1>07 Enter email address to send results</h1>
        <div></div>

        <h1>08 Name your Run</h1>
        <div></div>

        <h1>Preview Data</h1>
        <div></div>

    </div>
</div>

{% endblock content %}