{% extends "components/base.html" %}

{% block content %}

<div id="home-page" class="bg">
    <div style="padding-bottom: 15rem;">
        <div class="home-container">
            <div tabindex="0" class="info-container">
                <h1>Harvested Wood Products <br> Carbon Calculator BETA</h1>
                <p>This web-based carbon accounting tool calculates cumulative carbon stocks and emissions through time
                    for
                    harvested wood products (HWP) using the Tier 3 Production Approach carbon accounting guidelines
                    developed by
                    the Intergovernmental Panel on Climate Change (IPCC).</p>
                <a href="/calculator"><button class="custom-btn btn-calc">Calculator</button></a>
            </div>

            <div style="display: flex; width: 100%;">
                <i class=" scroll-for-more fa-regular fa-circle-down bounce"></i>
            </div>
        </div>
        {% include "components/how-it-works.html" %}
        {% include "components/contact.html" %}
    </div>

</div>
<script>
    //Scroll for legend on how-it-works section
    $(window).scroll(function (e) {
        var $el = $('.fixedElement');
        var $el2 = $('.flowchart-div');
        var isPositionFixed = ($el.css('position') == 'fixed');
        //if screen size is less than 1920px, then scrollTop is 600
        if (window.matchMedia('(max-width: 1920px').matches) {
            if ($(this).scrollTop() > 900 && !isPositionFixed) {
                $el.css({
                    'position': 'fixed',
                    'top': '0px'
                });
                $el2.css({
                    'transform': 'translate(200px, 50px)'
                })
            }
            if ($(this).scrollTop() < 900 && $el.css('position') == 'fixed') {
                $el.css({
                    'position': 'static',
                    'top': '0px'
                });
                $el2.css({
                    'transform': 'translate(0px, 50px)'
                })
            }
        } else if (window.matchMedia('(min-width: 1921px').matches) {
            //if screen size is greater than 1920px, then scrollTop is 1350

            if ($(this).scrollTop() > 1350 && !isPositionFixed) {
                $el.css({
                    'position': 'fixed',
                    'top': '0px'
                });
                $el2.css({
                    'transform': 'translate(200px, 50px)'
                })
            }
            if ($(this).scrollTop() < 1350 && $el.css('position') == 'fixed') {
                $el.css({
                    'position': 'static',
                    'top': '0px'
                });
                $el2.css({
                    'transform': 'translate(0px, 50px)'
                })
            }
        }
    });
</script>

</div>
{% endblock content %}