{% extends "components/base.html" %}
{% block content %}
<section class="graphic-container">
    <!-- <h1>How it Works</h1> -->
    <div class="container-bg container__inputs">
        <h2>Inputs</h2>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual harvest, divided into timber product classes (MBF)
            </h3>
        </div>
        <div>
            Primary product ratios
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual output of primary products (CCF)
            </h3>
        </div>
        <div>
            Conversion Factors
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual output of primary products (metric ton C)
            </h3>
        </div>
        <div>
            End use ratios
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                C distributed to end uses (metric ton C)
            </h3>
        </div>
    </div>
    <div class="container__calculator">
        <h3>Calculator</h3>
    </div>
    <div class="container-bg container__outputs">
        <h2>Outputs</h2>
        <span style="display: flex;">
            <div>
                <div class="graphic-card output-lg">Discarded</div>
                <div class="graphic-card recycled">Recycled/Recovered</div>
                <div class="graphic-card">Landfills</div>
                <div class="graphic-card">Dumps</div>
                <div class="graphic-card">Compost</div>
                <div class="graphic-card">Burned</div>
            </div>
            <div class="graphic-card output-lg">In Use</div>
        </span>

    </div>
    <div class="container-bg container__results">
        <h2>Results</h2>
        <span style="display: flex;">
            <div tabindex="0" class="graphic-card results">
                <h3>
                    Emitted with energy capture (metric ton C)
                </h3>
            </div>
            <div tabindex="0" class="graphic-card results">
                <h3>
                    Products in use (metric ton C)
                </h3>
            </div>
            <div tabindex="0" class="graphic-card results">
                <h3>
                    Products in SWDS (metric ton C)
                </h3>
            </div>
            <div tabindex="0" class="graphic-card results">
                <h3>Emitted without energy capture (metric ton C)</h3>
            </div>
        </span>
    </div>
</section>
{% endblock content %}