{% extends "components/base.html" %}

{% block content %}

<div class="output-page">
    <aside style="margin-right: 2em;">
        <h1 style="margin-bottom: 1em; font-size: 1.8rem;">Controls</h1>
        <form action="">
            <fieldset>
                <legend>Choose Harvest Year(s)</legend>
                <ul class="year-controls">
                    <li>
                        <input class="control-input" type="radio" id="allYearsBtn" name="harvestYears" checked="checked"
                            value="3">
                        <label class="control-label" for="allYearsBtn">All Harvest Years</label>
                    </li>
                    <li>
                        <input class="control-input" type="radio" id="singleYearBtn" name="harvestYears" value="1">
                        <label class="control-label" for="singleYearBtn">Single Harvest Year</label>

                    </li>
                    <li id="yearInput-1" class="toHide" style="display:none;">
                        <div style="display:flex;">
                            <label class="control-label-sub" for="singleYear">Single Year:</label>
                            <input class="control-num" type="number" id="singleYear" value="">
                        </div>
                    </li>
                    <!-- <li>
                        <input class="control-input" type="radio" id="rangeYearBtn" name="harvestYears" pattern="[0-9]"
                            value="2">
                        <label class="control-label" for="rangeYearBtn"> Range of Harvest Years</label>
                    </li> -->

                    <!-- <li id="yearInput-2" class="toHide" style="display:none;">
                        <div style="display:flex;">
                            <label class="control-label-sub" for="startYear"> Start Year: </label>
                            <input class="control-num" type="number" id="startYear" pattern="[0-9]">
                        </div>
                        <div style="display:flex;">
                            <label class="control-label-sub" for="endYear"> End Year: </label>
                            <input class="control-num" type="number" id="endYear" pattern="[0-9]">
                        </div>
                    </li> -->


                </ul>
            </fieldset>
            <br>
            <br>
            <!-- <div>
                <p>Units</p>
                <input type="radio" id="co2eUnit" name="solidproductsunit" value="co2eUnit" class="custom-radio-btn"
                    checked>
                <label tabindex="0" id="co2eUnit-label" for="co2eUnit" class="margin-right: 0.5em;">CO2e</label>
                <input type="radio" id="mgcUnit" name="solidproductsunit" value="mcgUnit" class="custom-radio-btn">
                <label tabindex="0" id="mgcUnit-label" for="mgcUnit">MgC</label>
            </div>
            <br>
            <br> -->
            <div style="display:flex; width: fit-content; margin: auto; gap: 10%;">
                <div>
                    <a id="yearfilter" class="link-1 custom-btn custom-btn-output" style="float:left;">Filter</a>
                </div>
                <div>
                    <!-- <button style="float:right; margin-right: 2em;" class="custom-btn">Export</button> -->
                    <a href="#dl-opened" style="float:right; margin-right: 2em;"
                        class="custom-btn custom-btn-output link-1" id="dl-closed">Export
                    </a>

                    {% include "components/downloads.html" %}

                </div>
            </div>
        </form>
    </aside>
    <section>
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'coolFlashyTabContent')" id="defaultOpen">Cumulative
                Results</button>
            <button class="tablinks" onclick="openTab(event, 'solidCarbonContent')" id="solidCarbon">Solid
                Carbon</button>
            <button class="tablinks" onclick="openTab(event, 'emissionsContent')" id="emissions">Emissions</button>
            <button class="tablinks" onclick="openTab(event, 'reusedContent')" id="reused">Reused</button>


        </div>

        <!-- Tab content -->
        <div id="coolFlashyTabContent" class="tabcontent">
            <div class="graph active-graph all_results_final"></div>
            <div class="add-graph-container">
                <div class="graph non-active total_solid_carbon_dispositions"></div>
                <div class="graph non-active total_emissions_dispositions"></div>

            </div>

        </div>
        <div id="solidCarbonContent" class="tabcontent">
            <div class="graph active-graph total_solid_carbon_dispositions2"></div>
            <div class="add-graph-container">
                <div class="graph non-active annual_net_change_carbon_stocks"></div>
                <div class="graph non-active annual_harvest_and_timber_product_output"></div>

            </div>
        </div>
        <div id="emissionsContent" class="tabcontent">
            <div class="graph active-graph total_emissions_dispositions2 "></div>
            <div class="add-graph-container">
                <div class="graph non-active burned_with_energy_capture_emissions"></div>
                <div class="graph non-active burned_without_energy_capture_emissions"></div>
                <div class="graph non-active swds_emissions"></div>

            </div>
        </div>
        <div id="reusedContent" class="tabcontent">
            <div class="graph active-graph total_recycled_in_use"></div>
            <div class="add-graph-container">
                <div class="graph non-active"></div>
                <div class="graph non-active annual_net_change_carbon_stocks_recycled"></div>
                <div class="graph non-active"></div>

            </div>

        </div>


    </section>
    <!-- <div style="margin-left: 2em; width: 400px;">
        <img src="../../static/images/Asset 2.png" alt="" height="auto" width="250px"
            style="display: flex; margin:auto; margin-top: 150px;">
    </div> -->
</div>
<div id="hidden-graphs" style="display: none;">

    <div class="graph table hidden annual_timber_harvest_table"></div>
    <div class="graph table hidden total_yearly_net_change"></div>
    <div class="graph table hidden total_selected_net_change"></div>
    <div class="graph table hidden total_yearly_dispositions"></div>
    <div class="graph table hidden total_selected_dispositions"></div>

    <img id="png-export"></img>
    <div class="graph hidden all_results_final_hidden"></div>
    <div class="graph hidden total_solid_carbon_dispositions_hidden"></div>
    <div class="graph hidden total_emissions_dispositions_hidden"></div>
    <div class="graph hidden annual_net_change_carbon_stocks_hidden"></div>
    <div class="graph hidden annual_harvest_and_timber_product_output_hidden"></div>
    <div class="graph hidden burned_with_energy_capture_emissions_hidden"></div>
    <div class="graph hidden burned_without_energy_capture_emissions_hidden"></div>
    <div class="graph hidden swds_emissions_hidden"></div>



    <!-- <div class="graph active reused"></div> -->
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/output.js') }}"></script>
<script async>
    output.initialize('{{data_json | safe}}', '{{ bucket }}', '{{ file_name }}', '{{ is_single }}');
</script>

{% endblock content %}