@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, html {
  --dark-green: #46b551;
  --light-green: #a9c936;
  --stone-black: #121212;
  --dark-gray: #6b6b6b;
  --content-width: 1300px;

  --montserrat:'Montserrat', sans-serif;
  --opensans:'Open Sans', sans-serif;

  color: var(--dark-gray);
  background-color: #e6e6e6;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
	font-family: var(--montserrat);
	line-height: 1.6;
	/* margin: 0; */
	/* min-height: 100vh; */
  min-height: 100%;
  /* padding-bottom: 135px; */
}



#content {
  min-height: 100vh;
  position: relative;
}

/* Navigation */


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: var(--light-green);
  
}

a {
	text-decoration: none;
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
  display: block;
 

}

.main-nav a {
	color: #34495e;
	font-size: 1.6rem;
}



.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	/* border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; */
}

.custom-btn {
  /* width: 156px;
  height: 50px; */
  height: 50px;
  min-height: 50px;
  width: 156px;
  min-width: 156px;
  color: var(--stone-black);
  font-weight: 700;
  /* border-radius: 3px;
  padding: 10px 30px; */
  padding: 16px 32px;
  border-radius: 2.5em;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  /* font-weight: 500; */
  text-transform: uppercase;
	text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-calc {
  background-color: var(--dark-green);
  background-image: linear-gradient(315deg, var(--light-green) 0%, var(--dark-green) 74%);
  border: none;
  z-index: 1;
  overflow: hidden;
}
.btn-calc:after {
  
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #f8aa18;
  border-radius: 2.5em;
 
  background-image: linear-gradient(315deg, #f8aa18 0%, #f7cc7e 74%);
  transition: all 0.3s ease;
 
}
.btn-calc:hover {
  color: black;
}
.btn-calc:hover:after {
  left: 0;
  width: 100%;
}
.btn-calc:active {
  top: 2px;
}

.btn-calc:hover:before {
  width: 100%''
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
    width: 95%;
		margin: 0 auto;
	
	
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* Landing Page */
.home-container {
  display: flex;
  height: 90vh;
  width: 100%;
}

.info-container {
  background-color: #f1f1f1;
  min-height: 400px;
  height: fit-content;
  max-width: 812px;
  width: 80%;
  padding: 42px 35px;
  margin: auto;
  text-align: center;
  /* margin-top: 200px; */
  border-radius: 4px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(18, 209, 31, 0.669) 0px 0px 0px 2px, rgba(13, 140, 6, 0.65) 0px 4px 6px -1px, rgba(168, 215, 12, 0.842) 0px 1px 0px inset;
  align-self: center;
}

.info-container h1 {
  font-size: 3rem;
}

.info-container p {
  margin-top: 2em;
  font-size: 1.8rem;
}
.info-container button{
 margin-top: 2em;
}

@media (max-width: 769px) {
  .info-container {
    margin-top: 50px;
  }
}

/* Calculator/Accordion */

.calc-config-container {

  background-color: white;
  min-height: fit-content;
  height: fit-content;
  max-width: 1080px;
  width: 80%;
  padding: 42px 35px;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(18, 209, 31, 0.669) 0px 0px 0px 2px, rgba(13, 140, 6, 0.65) 0px 4px 6px -1px, rgba(168, 215, 12, 0.842) 0px 1px 0px inset;
  border-radius: 4px;
}
.calc-config-container h1 {
  font-size: 2.4rem;
}

.calc-config-container p {
  font-size: 1.8rem;
}

.calc-config-container button {
  margin-top: 25px;
  color: #6b6b6b !important;
  border: 2px solid #6b6b6b !important;
  width: fit-content;
  position: relative;
  z-index: 0;
  font-size: 1.4rem;
  line-height: 1;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 2.5em;
  background: transparent;
  cursor: pointer;
  padding: 14px 30px;
  font-weight: 700;
}

.calc-config-container button:hover {
  color: var(--dark-green) !important;
  border: 2px solid var(--dark-green) !important;
}

.accordion {
  max-width: 1080px;
  width: 80%;
  margin: 20px auto;
  
  
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: var(--montserrat);
  padding: 20px 40px;
}
.accordion h1 {
  padding: 30px 20px;
  background-color: white;
  
  font-family: var(--montserrat);
  font-size: 2.4rem;
  font-weight: normal;
  color: #2F3E46;
  display: flex;
}

.accordion h1 span {
  margin-right: 27px;
}

.accordion h1 i {
align-self:center;

margin-left: auto;
}

.accordion h1:hover {
  color: #46B551;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #46B551;
}
.accordion div, .accordion p {
  display: none;
  background-color: #ABD694;
  padding: 30px 80px;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #09ab8b;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion .opened-for-codepen {
  display: block;
}

 a.block-item-green {

  background-color: var(--dark-green);
  color: var(--stone-black);
  font-family: var(--montserrat);
  font-weight: 700;
  width: 100%;
  max-width: var(--content-width);
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
  /* float: left; */
  font-weight: normal;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border-radius: 3px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}
/* Contact */
.contact-container {
  width: 100%;
  height: 300px;
  background: linear-gradient(281deg,var(--light-green),var(--dark-green));
}

/* Footer */


#footer {
  background-color: #f7f9fa;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: fit-content;   
}

.footer-container {
  /* background-color: var(--dark-green); */
  width: var(--content-width);
  margin: auto;
  padding-bottom: 1rem;
  color: var(--dark-gray);
}

#footer hr {
  border: 0;
  height: 1px;
  background: rgb(160, 160, 160);
}

#footer p {
  margin-left: 2rem;
  font-size: 1.6rem;
}

#footer a {
  color: var(--dark-gray);
}

#footer a:hover {
  text-decoration: underline;
}