@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, html {
  --dark-green: #46b551;
  --light-green: #a9c936;
  --stone-black: #121212;
  --dark-gray: #6b6b6b;
  --content-width: 1300px;

  --montserrat:'Montserrat', sans-serif;
  --opensans:'Open Sans', sans-serif;


  --green-box-shadow:  rgba(10, 226, 25, 0.669) 0px 0px 0px 2px, rgba(8, 94, 4, 0.65) 0px 4px 6px -1px, rgba(168, 215, 12, 0.842) 0px 1px 0px inset;
  --card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: var(--dark-gray);
  background-color: #e6e6e6;
  overflow-x: hidden;
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
	font-family: var(--montserrat);
	line-height: 1.6;
	/* margin: 0; */
	/* min-height: 100vh; */
  min-height: 100vh;

  /* padding-bottom: 135px; */
}

/* .bg {
  background: url("../images/marita-kavelashvili-ugnrXk1129g-unsplash.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

} */

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}

#page-contiainer {
  min-height: 100%;
}

#content {
 overflow: auto;
  padding-bottom: 15rem;
}

/* Navigation */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
  color: var(--stone-black);
  position: fixed;
  z-index: 10000;
  width: 100%;
  padding: 0 50px;
  border-bottom: 1px solid #d4d6d6;
}


.menu {
 display: flex;
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding:20px;
	text-transform: uppercase;
	text-align: center;
  display: block;
}

.logo a img {
  margin-top: 5px;
}

.main-nav a {
	color: #34495e;
	font-size: 1.6rem;
}

.main-nav li a {
  padding: 25px;
}

.main-nav li:last-child a{
  padding: 12px;
}
.main-nav a:hover {
	color: var(--dark-green);
  transition: 0.3s ease;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.custom-btn {
  height: 50px;
  min-height: 50px;
  width: 156px;
  min-width: 156px;
  color: var(--stone-black);
  font-weight: 700;
  padding: 16px 32px;
  border-radius: 2.5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
	text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-calc {
  background-color: var(--dark-green);
  background-image: linear-gradient(315deg, var(--light-green) 0%, var(--dark-green) 74%);
  border: none;
  z-index: 1;
  overflow: hidden;
}
.btn-calc:after {
  
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #f8aa18;
  border-radius: 2.5em;
  background-image: linear-gradient(315deg, #f8aa18 0%, #f7cc7e 74%);
  transition: all 0.3s ease;
 
}
.btn-calc:hover {
  color: black;
}
.btn-calc:hover:after {
  left: 0;
  width: 100%;
}
.btn-calc:active {
  top: 2px;
}

.btn-calc:hover:before {
  width: 100%''
}
/* Responsive Navbar */


.navbar input[type=checkbox]{
  display: none;
 }
 
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }


 @media (max-width: 768px) {
  .menu { 
   display:none;
   position: absolute;
   background-color:#d4d6d6;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
   margin-top: 20px;
  }
  .menu li:hover {
   display: inline-block;
   /* background-color:#4c9e9e; */
   transition: 0.3s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  .navbar input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
  }
 }


@media (max-width: 768px) {
  .main-nav li a {
    padding: 10px;
  }
}
@media (min-width: 769px) {
  .navigation {
    /* width: 95%; */
    display: block;
  }
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    /* width: 95%; */
		margin: 0 auto;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* Landing Page */
.home-container {
  display: flex;
  height: 90vh;
  width: 100%;
}

.info-container {
  background-color: #f1f1f1;
  min-height: 400px;
  height: fit-content;
  max-width: 812px;
  width: 80%;
  padding: 42px 35px;
  margin: auto;
  text-align: center;
  /* margin-top: 200px; */
  border-radius: 4px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: var(--green-box-shadow);
  align-self: center;
}

.info-container h1 {
  font-size: 3rem;
}

.info-container p {
  margin-top: 2em;
  font-size: 1.8rem;
}
.info-container button{
 margin-top: 2em;
}

@media (max-width: 769px) {
  .info-container {
    margin-top: 50px;
  }
}

/* Calculator/Accordion */

.calc-config-container {

  background-color: white;
  min-height: fit-content;
  height: fit-content;
  max-width: 1080px;
  width: 80%;
  padding: 42px 35px;
  margin: auto;
  margin-top: 50px;
  box-shadow: var(--green-box-shadow);
  border-radius: 4px;
}
.calc-config-container h1 {
  font-size: 2.4rem;
}

.calc-config-container p {
  font-size: 1.8rem;
}

.calc-config-container button {
  margin-top: 25px;
  color: #6b6b6b !important;
  border: 2px solid #6b6b6b !important;
  width: fit-content;
  position: relative;
  z-index: 0;
  font-size: 1.4rem;
  line-height: 1;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 2.5em;
  background: transparent;
  cursor: pointer;
  padding: 14px 30px;
  font-weight: 700;
}

.calc-config-container button:hover {
  color: var(--dark-green) !important;
  border: 2px solid var(--dark-green) !important;
}



.accordion, .acc-change-toggle  {
  display: block;
  max-width: 1080px;
  width: 80%;
  margin: 20px auto;
  
  
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
h2 .accordion, 
h3 .accordion,
h4 .accordion {
  font-family: var(--montserrat);
  padding: 20px 40px;
}



.accordion h1 {
  padding: 30px 20px;
  background-color: white;
  
  font-family: var(--montserrat);
  font-size: 2.4rem;
  font-weight: normal;
  color: #2F3E46;
  display: flex;
}

.accordion h1 span {
  margin-right: 27px;
}

.accordion h1 i {
align-self:center;

margin-left: auto;
}

.accordion h1:hover {
  color: #46B551;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #a8a8a8;
}
.accordion div{
  display: none;
  background-color: #f1f1f1;
  padding: 30px 80px;
}
.accordion h2 {
  padding: 5px 25px;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
}
.accordion h2:nth-of-type(odd){
  background-color: rgb(212, 212, 212);
}
.accordion h2:nth-of-type(even){
  background-color: rgb(184, 184, 184);
}
.accordion h2:first-child{
  border-radius: 4px 4px 0 0;
}
.accordion h2:last-of-type{
  border-radius: 0 0 4px 4px;
}
.accordion h2:hover {
  background-color: var(--dark-green);
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p, 
.acc-change-toggle p {
 font-family: var(--montserrat);
 font-size: 1.8rem;
}

.accordion label,
.acc-change-toggle label {
  font-family: var(--montserrat);
  font-size: 1.8rem;
}

.accordion i {
  font-size: 2.5rem;
}

.accordion a {
color: var(--dark-gray);
}

.accordion .info-circle {
  justify-self: flex-end;
  margin-left: auto;
  float: right;
}

 a.block-item-green {

  background-color: var(--dark-green);
  color: var(--stone-black);
  font-family: var(--montserrat);
  font-weight: 700;
  width: 100%;
  max-width: var(--content-width);
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
  /* float: left; */
  font-weight: normal;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border-radius: 3px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}


.fileupload {
  opacity:0%;
  position: absolute;
}

span[role=button] {
  display: table-cell;
  font-family: var(--montserrat);
  font-size: 1.6rem;
  padding: 8px 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--dark-green); 
  color: Var(--stone-black);
  cursor: pointer;
  background-color: var(--dark-green);
  outline: none;
}
span[role=button]:hover,
span[role=button]:focus {
  box-shadow: 0 0 5px #595959;
  background-color: var(--light-green);
  border-color: var(--light-green);
  outline: 2px solid transparent;
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
input[type=text],
input[type="number"],
input[type="email"] {
  display: inline-block;
  margin-left: -5px;
  width: 50%;
  min-width: 10rem;
  font-family: var(--montserrat);
  font-size: 1.6rem;
  padding: 9.75px 9px;
  border-radius: 3px;;
  border: 2px solid var(--dark-gray);;  
  color: var(--stone-black);
  background-color: #ffffff;
}

input[type="number"] {
  min-width: 2rem;
  width: 150px;

}


input[type=text]:focus {
  box-shadow: 0 0 5px #595959;
  border-color: var(--dark-green);;
  outline: 2px solid transparent;
}


input[type="radio"]{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  margin-right: 5px;
}

input[type="radio"]:after{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: all .1s;
}



.custom-radio-btn{
  border: 2px solid var(--dark-green);
}

.custom-radio-btn:after{
  border: 5px solid var(--dark-green);
  transform: translate3d(50%, 50%, 0);
}

.custom-radio-btn:checked:after{
  transform: translate3d(-50%, -50%, 0);
}

#ccf-label {
  margin-right: 0.5em;
}

.h2defaultlabel{
 transform: translateY(5px);
}

/* next & back btns */

.backbtn {
  color: #6b6b6b !important;
  border: 2px solid #6b6b6b !important;
  width: fit-content;
  position: relative;
  z-index: 0;
  font-size: 1.4rem;
  line-height: 1;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 2.5em;
  background: transparent;
  cursor: pointer;
  padding: 14px 30px;
  font-weight: 700;
  margin-right: 10px;
}

.backbtn:hover {
  color: var(--dark-green) !important;
  border: 2px solid var(--dark-green) !important;
}

.nextbackbtn-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 1em;
  justify-content: flex-end;
  
}

.nextbtn,
.previewbtn {
  background-color: var(--dark-green);
  border: none;
  color: var(--stone-black);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 14.5px 31px;
  border-radius: 2.5em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
}

.nextbtn:hover,
.previewbtn:hover {
  background-color: var(--light-green);
}

/* Region Dropdown */
.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
  display: inline-block;
}
.select-dropdown select {
	font-size: 1.6rem;
  font-family: var(--montserrat);
	font-weight: normal;
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
  cursor: pointer;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.cancel-upload-btn {
  cursor: pointer;
  margin-left: 0.5em;
  transform: translateY(3px);
}

.cancel-upload-btn:hover {
  color: darkred;
}

.h2-cancel {
  transform: translateY(8px) !important;
}

/* Modal styling */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* How it works Graphic */



.graphic-container {
  width: var(--content-width);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
}

.graphic-container h1 {
  font-size: 3.0rem;
  text-align: center;
}
.container__inputs{
  /* background-color: #d6d6d6; */
  background-color: #E4CCFF;
}

.graphic-container h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

.container__calculator {
  display: flex;
  height: 110px;
  width: 260px;
  /* transform: translateX(-40px) skew(-20deg); */
  background: #BDE3FF;
  border-radius: 6px;
  margin: auto;
  margin-top: 2em;
  padding: 25px;
  box-shadow: var(--card-shadow);
  align-items: center;
  justify-content: center;
}


.container__calculator>h3 {
  display: block;
  /* transform: skew(20deg); */
}


.container-bg {
  margin: auto;
  width: fit-content;
  padding: 25px;
  border-radius: 10px;
  margin-top: 2em;
}

.container__outputs {
  background-color: #FFE6C8;
}

.container__results {
  background-color: #FFC7C2;
}

.graphic-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--card-shadow);
  padding: 20px !important;
  margin: 10px;

}

#how-it-works{
  color: var(--dark-gray);
}

#how-it-works h3 {
 font: var(--montserrat);
 font-weight: 600;
 font-size: 1.6rem;
 text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.arrow-tagline {
  align-self:center; 
  margin-left: 1em; 
  font-size: 1.4rem;
  width: 150px;
}


.graphic-card:hover{
  /* transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    margin: 15px; */
    border: 2px solid blue;
    cursor: pointer;
}
.inputs, .results  {
  /* height: 150px; */
  height: fit-content;
  width: 260px; 
}



.output-lg {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  height: fit-content;
}

.recycled {
  transform: translateX(-100px);
  height: 70px;
}

.recycled:hover{
  /* transform: translateX(-100px) scale(1.1,1.1); */
  border: 2px solid blue;
}


/* Contact */
.contact-container {
  width: 100%;
  height: 300px;
  background: linear-gradient(281deg,var(--light-green),var(--dark-green));

}

/* Footer */


#footer {
  background-color: #f7f9fa;
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 15rem;   
  margin-top: -10rem;
  clear: both;
}

.footer-container {
  /* background-color: var(--dark-green); */
  width: var(--content-width);
  margin: auto;
  padding-bottom: 1rem;
  color: var(--dark-gray);
}

#footer hr {
  border: 0;
  height: 1px;
  background: rgb(160, 160, 160);
}

#footer p {
  margin-left: 2rem;
  font-size: 1.6rem;
}

#footer a {
  color: var(--dark-gray);
}

#footer a:hover {
  text-decoration: underline;
}