.configureinfo{
    background-color: rgb(156,209,227);
    max-width: 50vw;
    padding:2%;
}
.herotabs{
    max-width: 70vw;
}
.section{
    padding:0.5%;
}
.columns{
    margin-left: 0;
}

.herotab{
    background-color: rgb(156,209,227);
}

.pagecontent{
    /* width:100%;
    height:100%; */
    resize: both; 
    display: block;
}