<head>
    <!-- Bulma css CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Fontawesome icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div id="wrapper">
    <div class="content">
        <p class="is-size-3 has-text-weight-bold">About this Website.</p>
        <p>This web-based carbon accounting tool calculates cumulative carbon stocks and emissions through time for harvested wood products (HWP) using the Tier 3 Production Approach carbon accounting guidelines developed by the Intergovernmental Panel on Climate Change (Figure 1). For most users, estimates are based on the three key datasets:</p>
        <ul>
            <li>Annual harvest data;</li>
            <li>Timber products ratios;</li>
            <li>Primary products ratios.</li>
        </ul>
        <image src="{{ url_for('static', filename='images/Methods_flow_chart-CCF.png') }}"></image>
        <p class="caption">Figure 1. Schematic showing the flow of calculations to quantify HWP products in use, products in SWDS, 
            emissions with energy capture, and emissions without energy capture using the IPCC approach.</p>
        <p class="has-text-danger has-text-weight-bold">
            It is important to note that the input files containing yearly data must all have the same years, in descending order 
            from top to bottom, or left to right. If all workbook sheets are not populated with the same years the model will generate 
            an error.
        </p>
        <p>
            These datasets are used as inputs to estimate the cumulative carbon stored in HWP originating from any specific ownership,
            or as a total across ownerships. <a class="seeme2" href="/advanced">Advanced users</a> have the option of including eight 
            additional datasets that further refine the variables that influence carbon storage in HWP. With the help of this tool, 
            any user can easily estimate the amount of carbon stored in HWP from any harvested timber by completing the following steps.
        </p>
        <p class="is-size-5">Steps to estimate carbon stored in HWP</p>
        <p class="has-text-weight-bold">All input files must be in .csv format. If exporting from Excel, the cells must be formatted as "General".</p>
        <ol>
            <li>
                <p>
                    First, download the <strong class="has-text-weight-bold">‘Templates_Empty’</strong>
                    <a class="seeme2" href="/files">macro-enabled Microsoft Excel workbook</a> based on the location of the
                    geographic area of interest (<a class="seeme2" href="{{ url_for('static', filename='images/regions_map.png') }}" target="_blank">
                        see a map of the regions in the
                        United States here
                    </a>). The default region is the Pacific Southwest. Adjust your security settings to allow macros
                    in the workbook to operate.
                </p>
            </li>
            <li>
                <p>
                    In the <strong class="has-text-weight-bold">‘Templates_Empty’</strong> Excel workbook select the HWP ribbon and click ‘Add a new year’
                    until the templates contain the most recent year for which data will be analyzed. Adding a new year populates every page
                    in the workbook with a succession year.
                </p>
            </li>
            <li>
                <p>
                    Next, locate the data needed for each of the three key datasets in the macro-enabled workbook, making sure
                    to enter data into the light orange colored cells within the workbook. The three key datasets that must be compiled
                    and entered into the template are:
                </p>

                <ul>
                    <li>
                        <h5>Harvest Data:</h5>
                        <p>
                            A time series of total yearly harvest data in units of thousand board feet, MBF (called
                            <strong class="has-text-weight-bold">‘Harvest Data’</strong> in the Excel template); this panel must be populated by the user.
                            The yearly harvest is the total annual harvest from the region or owner of interest, entered in MBF.
                        </p>
                    </li>
                    <li>
                        <h5>Timber Product Ratios:</h5>
                        <p>
                            A panel of yearly timber product ratios (called <strong class="has-text-weight-bold">‘Timber Product Ratios’</strong> in the
                            Excel template); unless the user populates the panel otherwise, the panel contains a set of default yearly
                            timber product ratios from 1968 – 2018 for the Pacific Southwest Region based upon an extensive
                            <a class="seeme2" href="/references">literature search</a>. The yearly timber product ratios represent the
                            portion of the annual harvest that is classified as specific timber products, such as sawtimber, pulpwood,
                            posts, and fuelwood.
                        </p>
                    </li>
                    <li>
                        <h5>Primary Product Ratios:</h5>
                        <p>
                            A panel of yearly primary product ratios (called <strong class="has-text-weight-bold">“Primary Product Ratios”</strong> in the
                            Excel template); unless the user populates the panel otherwise, the panel contains a set of default yearly
                            timber product ratios from 1968 – 2018 for the Pacific Southwest Region based upon an extensive
                            <a class="seeme2" href="/references">literature search</a>. The yearly primary products ratios represent
                            the portion of each yearly timber product that is used in specific primary products, such as lumber, wood
                            pulp, plywood, and fuelwood.
                        </p>
                    </li>
                </ul>

                <p>
                    These three key data sources are linked as follows: The time series of harvest volume is partitioned to timber product
                    classes by the timber product ratios, resulting in a panel of annual timber product harvest volumes. Timber products are
                    partitioned into the primary product classes using the primary product ratios, and the resulting annual primary product
                    harvest volumes are converted to carbon equivalents. For the yearly timber product and yearly primary product  datasets,
                    you may need to extend most recent available records for part of your panel to the remainder of your panel. For the third
                    dataset, you can choose to use default primary product ratios based on geographic location.
                </p>

                <p>
                    The time series of carbon in primary products is the input for a complex series of calculations to determine how much
                    carbon remains stored in HWP in use and at solid waste disposal sites (SWDS). The eight optional inputs for
                    <a class="seeme2" href="/advanced">advanced users</a> set additional parameters for these calculations and include the
                    following, all of which are optional, rarely used, and not discussed in detail on this page:
                </p>

                <ol>
                    <li>Yearly end-use product ratios;</li>
                    <li>Products end-use half-lives;</li>
                    <li>Discarded products disposition ratios;</li>
                    <li>Discarded products disposition half-lives and landfill fixed ratios;</li>
                    <li>Distribution parameters;</li>
                    <li>Ratios for wood and paper burned with energy capture;</li>
                    <li>Thousand board feet (MBF) to hundred cubic feet (CCF) conversion factors;</li>
                    <li>Primary product to CCF conversion factors.</li>
                </ol>

                <p>See the <a class="seeme2" href="/advanced">Advanced</a> page for further information about optional inputs.</p>
            </li>
            <li>
                <p>
                    When all three key datasets are complete, navigate to the HWP ribbon in the macro-enabled workbook, and select the
                    <strong class="has-text-weight-bold">‘All Required Data’</strong> button at the top left hand corner. This will save the two required
                    datasets to your specified locations. If you are only using the annual harvest dataset, you can save only the
                    <strong class="has-text-weight-bold">‘Harvests’</strong> data, and the default values for Timber Product Ratios will be used by the program.
                </p>

                <p>
                    Likewise, if the advanced options will be used in your calculations, you can save all the files to specified locations
                    using the <strong class="has-text-weight-bold">‘All Optional Data’</strong> button, or save each dataset individually with its respective button.
                    If the advance user is using a subset of the optional data, the default values will be used by the program for all other
                    optional data. Be sure to save them with names that clearly identify which dataset they contain.
                </p>
            </li>
            <li>
                <p>
                    After datasets are saved to a known location, navigate to the website Home page and browse to enter each of the
                    datasets, making sure to enter them into their respective Step number.
                </p>
            </li>
            <li>
                <p>
                    Finally, if you would like a Monte Carlo simulation to evaluate uncertainty in the estimates produced by the
                    program, adjust the number of iterations you would like the model to run. Leaving the number of iterations set to one
                    results in a point estimate of all outputs of the model, and does not require the user to enter an email address.
                    Increasing the number of iterations to any number above one will result in a Monte Carlo estimation of total carbon
                    stored and will require the user to enter an email address at which they would like to receive a notice of completion
                    that includes a link to the Monte Carlo uncertainty estimation outputs.
                </p>
            </li>
            <li>
                <p>Click <strong class="has-text-weight-bold">Run the model</strong>.</p>
                <p>
                    Whether you select a single iteration, or multiple iterations for a simulation, the output of the program will differ in
                    appearance and context. The simulation output after a single iteration appears momentarily with the following linked options
                    appearing in the upper left corner of the page:
                </p>

                <ul>
                    <li>Download all output;</li>
                    <li>View disposition table in new window;</li>
                    <li>View net change table in new window;</li>
                    <li>View harvest table in new window.</li>
                </ul>

                <p>
                    Below the linked options are a series of figures that visually display the results. The recommended course of action is to
                    select <strong class="has-text-weight-bold">‘Download all output’</strong>. You will then be prompted to save <strong class="has-text-weight-bold">‘total_output.zip’</strong>
                    to a known location for future use.
                </p>

                <p>
                    The simulation output after multiple iterations appears as a URL presented both on the proceeding processing page as well as
                    in an email sent to the address provided by the user. After accessing the URL the following options appear in the upper left
                    corner of the page:
                </p>

                <ul>
                    <li>Download all output;</li>
                    <li>View confidence intervals in new window.</li>
                </ul>

                <p>
                    The recommended course of action is to select <strong class="has-text-weight-bold">‘Download all output’</strong>. You will then be prompted to
                    save <strong class="has-text-weight-bold">‘confidence_intervals.zip’</strong> to a known location for future use.
                </p>
                <p>For more information about methods, outputs and interpretation of the results, please see the following publications:</p>
                <p>
                    Stockmann, Keith D.; Anderson, Nathaniel M.; Skog, Kenneth E.; Healey, Sean P.; Loeffler, Dan R.; Jones, Greg; Morrison,
                    James F. 2012. Estimates of carbon stored in harvested wood products from the United States Forest Service Northern Region,
                    1906-2010. Carbon Balance and Management. 7: 1-16.
                    <a class="seeme2" href="http://www.treesearch.fs.fed.us/pubs/40202" target="_blank">http://www.treesearch.fs.fed.us/pubs/40202</a>
                </p>
            </li>
        </ol>
    </div>
</div>