<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Bulma css CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Fontawesome icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
</head>

<header>
    {% block header %}
    <section class="hero is-white is-small is-center">
        <div class="hero-body">
            <div class="container">
                <p class="title is-size-1 has-text-weight-bold">Harvested Wood Products Carbon Calculator BETA</p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-medium">
                <div class="container has-text-weight-bold herotabs">
                    <ul class="tablist" role="tablist">
                        <li class="has-text-black-bis herotab tab" id="home" aria-label="Home" aria-selected="true"  aria-controls="panel1" role="tab" tabindex="0">
                            <a aria-label="Home">Home</a>
                        </li>
                        <li class="tab" id='about' aria-label="About" aria-selected="false" aria-controls="panel3" role="tab" tabindex="0">
                            <a aria-label="About">About</a>
                        </li>
                        <li class="tab" id="advanced" aria-label="Advanced" aria-selected="false" aria-controls="panel4" role="tab" tabindex="0">
                            <a aria-label="Advanced">Advanced</a>
                        </li>
                        <li class="tab" id='references' aria-label="References" aria-selected="false" aria-controls="panel5" role="tab" tabindex="0">
                            <a aria-label="References">References</a>
                        </li>
                        <li class="tab" id='contact' aria-label="Contact" aria-selected="false" aria-controls="panel6" role="tab" tabindex="0">
                            <a aria-label="Contact">Contact</a>
                        </li>
                        <li class="tab" id='files' aria-label="Files" aria-selected="false" aria-controls="panel7" role="tab" tabindex="0">
                            <a aria-label="Files">Files</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        </section>
        {% endblock %}
</header>


<body>
{% block content %}

<section class="section">
    <div class="container">
        <!-- Holding frame for tab content-->
        <iframe class='pagecontent' id="pagecontent" title="pagecontent" style="border:none;" width="100%" height="100%" scrolling="no" src="{{ url_for('homecontent') }}"></iframe>
        </div>
    </div>
</section>

{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns">
                <div class="column is-one-fourth"></div>
                <div class="column is-one-fifth">
                    <img src="{{ url_for('static', filename='images/USDA_logo.png') }}"style="width: 150px; height: 100px"></img>
                </div>
                <div class="column is-one-fifth">
                    <img src="{{ url_for('static', filename='images/USFS_logo.png') }}"style="width: 100px; height: 100px"></img>
                </div>
                <div class="column is-one-fourth"></div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
</body>
<script src="{{ url_for('static', filename='homerow.js') }}"></script> 
</html>