<head>
    <!-- Bulma css CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Fontawesome icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div id="wrapper">
<div class="content">
    <p class="is-size-3 has-text-weight-bold">References</p>
    <p>
        Barrette, B.R.; Oswald, D.D. 1970. California timber industries 1968, Mill characteristics and wood supply. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station, and California Division of Forestry. 117 p.
    </p>
    <p>
        Hiserote, Bruce A.; Howard, James O. 1978. California's forest industry, 1976. Res. Bull. PNW-RB-080. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 103 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/26232">https://www.fs.usda.gov/treesearch/pubs/26232</a>
    </p>
    <p>
        Howard, James O.; Ward, Franklln R. 1991. California's forest products industry: 1988. Res. Bull. PNW-RB-181. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 69 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/22542">https://www.fs.usda.gov/treesearch/pubs/22542</a>
    </p>
    <p>
        Howard, James O.; Ward, Franklin R. 1988. California's forest products industry: 1985. Res. Bull. PNW-RB-15O. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 72 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/22511">https://www.fs.usda.gov/treesearch/pubs/22511</a>
    </p>
    <p>
        Howard, James O. 1972. California forest industry wood consumption and characteristics, 1972. Res. Bull. PNW-RB-052. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 97 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/26217">https://www.fs.usda.gov/treesearch/pubs/26217</a>
    </p>
    <p>
        Keegan, Charles E., III; Morgan, Todd A.; Blatner, Keith A.; Daniels, Jean M. 2010. Trends in lumber processing in the western 
        United States. Part I: board foot Scribner volume per cubic foot of timber. Forest Products Journal. 60(2): 133-139.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/37833">https://www.fs.usda.gov/treesearch/pubs/37833</a>
    </p>
    <p>
        McIver, Chelsea P.; Meek, Joshua P.; Scudder, Micah G.; Sorenson, Colin B.; Morgan, Todd A.; Christensen, Glenn A. 2015. 
        California’s forest products industry and timber harvest, 2012. Gen. Tech. Rep. PNW-GTR-908. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 49 p.
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/49762">https://www.fs.usda.gov/treesearch/pubs/49762</a>
    </p>
    <p>
        McKeever, David B.; Howard, James L.; 2011. Solid wood timber products consumption in major end uses in the United States, 1950-2009: 
        a technical document supporting the Forest Service 2010 RPA assessment. General technical report FPL-GTR-199. Madison, WI : 
        U.S. Dept. of Agriculture, Forest Service, Forest Products Laboratory, 2011: 39 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/39746">https://www.fs.usda.gov/treesearch/pubs/39746</a>
    </p>
    <p>
        Morgan, Todd A.; Brandt, Jason P.; Songster, Kathleen E.; Keegan, Charles E., III; Christensen, Glenn A. 2012. 
        California’s forest products industry and timber harvest, 2006. Gen. Tech. Rep. PNW-GTR-866. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 48 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/41151">https://www.fs.usda.gov/treesearch/pubs/41151</a>
    </p>
    <p>
        Morgan, Todd A.; Keegan, Charles E., III; Dillon, Thale; Chase, Alfred L.; Fried, Jeremy S.; Weber, Marc N. 2004. 
        California''s forest products industry: a descriptive analysis. Gen. Tech. Rep. PNW-GTR-615. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 55 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/7067">https://www.fs.usda.gov/treesearch/pubs/7067</a>
    </p>
    <p>
        Skog, Kenneth E. 2008. Sequestration of carbon in harvested wood products for the United States. Forest products journal. 
        Vol. 58, no. 6 (June 2008): Pages 56-72.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/31171">https://www.fs.usda.gov/treesearch/pubs/31171</a>
    </p>
    <p>
        Smith, James E.; Heath, Linda S.; Skog, Kenneth E.; Birdsey, Richard A. 2006. Methods for calculating forest ecosystem and 
        harvested carbon with standard estimates for forest types of the United States. Gen. Tech. Rep. NE-343. Newtown Square, PA: 
        U.S. Department of Agriculture, Forest Service, Northeastern Research Station. 216 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/22954">https://www.fs.usda.gov/treesearch/pubs/22954</a>
    </p>
    <p>
        Stockmann, Keith D.; Anderson, Nathaniel M.; Skog, Kenneth E.; Healey, Sean P.; Loeffler, Dan R.; Jones, Greg; Morrison, James F. 2012. 
        Estimates of carbon stored in harvested wood products from the United States Forest Service Northern Region, 1906-2010. 
        Carbon Balance and Management. 7: 1-16. <br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/40202">https://www.fs.usda.gov/treesearch/pubs/40202</a>
    </p>
    <p>
        Ward, Franklin R. 1997. California's forest products industry: 1994. Res. Bull. PNW-RB-217. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 60 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/20606">https://www.fs.usda.gov/treesearch/pubs/20606</a>
    </p>
    <p>
        Ward, Franklin R. 1995. California's forest products industry: 1992. Res. Bull. PNW-RB-206. Portland, OR: 
        U.S. Department of Agriculture, Forest Service, Pacific Northwest Research Station. 76 p.<br>
        <a class="seeme2" href="https://www.fs.usda.gov/treesearch/pubs/26327">https://www.fs.usda.gov/treesearch/pubs/26327</a>
    </p>

</div>