<span class="acc-change-toggle">
    <p>Change Mode:</p><input type="radio" class="custom-radio-btn" id="default-mode" name="accordion-toggle"
        value="default-mode" checked><label style="margin-right:0.5em;" for="default-mode">Default Mode</label>
    <input type="radio" class="custom-radio-btn" id="edit-mode" name="accordion-toggle" value="edit-mode"><label
        for="edit-mode">Edit</label>
</span>
<div class="accordion">
    <form enctype="multipart/form-data" name="forms" id="forms" action="{{ url_for('upload') }}" method="post">
        <h1 id="acc-01" class="acc-h1" role="button" tabindex="0"><span>01</span>Upload yearly harvest data</h1>
        <div>
            <span style="display: flex;">
                <span style="width: 100%;">
                    <label for="fu-yearly-harvest" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='yearlyharvestinput' type="file" class="fileupload filename1" id="fu-yearly-harvest"
                        accept=".csv" required="true" aria-required="true">
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename1" autocomplete="off" readonly placeholder="no file uploaded">
                    <br>
                    <br>
                    <p>Select the units for calculated results</p>
                    <input type="radio" id="ccf" name="harvestdatatype" value="ccf" class="custom-radio-btn" checked>
                    <label id="ccf-label" for="ccf">CCF</label>
                    <input type="radio" id="mbf" name="harvestdatatype" value="mbf" class="custom-radio-btn">
                    <label id="mbf-label" for="mbf">MBF</label>
                    <br>
                    <span id="mbftoccf-custom-fu" class="custom-file-upload" style="display:none;">
                        <br>
                        <p>Use Default Ratios or Upload Custom MBF to CCF Ratios </p>
                        <label for="fu-mbftoccf-conversion" id="buttonlabel">
                            <span role="button" aria-controls="filename" tabindex="0">
                                Upload File
                            </span>
                        </label>
                        <input name='MbfToCcfFilename' type="file" id="fu-mbftoccf-conversion" accept=".csv"
                            class="fileupload filename2">
                        <label for="filename" class="hide">
                            uploaded file
                        </label>
                        <input type="text" id="filename2" autocomplete="off" readonly placeholder="no file uploaded">
                    </span>
                </span>
                <a class="info-circle"><i id="modal1" class="fa-solid fa-circle-info" role="button"
                        type="button"></i></a>
            </span>
            <span class="nextbackbtn-container"><button type="button" class="nextbtn  acc-01">Next</button></span>

        </div>
        <h1 id="acc-02" class="acc-h1" role="button" tabindex="0"><span>02</span>Upload yearly timber product ratios
        </h1>
        <div>
            <span style="display: flex;">
                <p>Use Default Data</p><a class="info-circle"><i id="modal2" class="fa-solid fa-circle-info"></i></a>
            </span>
            <p> Or </p>
            <span style="display: flex;">
                <span style="width: 100%;">
                    <label for="yearlytimberproductratios" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload Custom File
                        </span>
                    </label>
                    <input name='yearlytimberproductratios' type="file" class="fileupload filename3"
                        id="yearlytimberproductratios" accept=".csv">
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename3" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    <br>
                    <br>
                </span>

            </span>
            <!-- <input type="radio" id="defaultRatio" name="default-custom-toggle" value="defaultRatio" checked>
            <label for="defaultRatio">Use Default Ratios</label>
            <input type="radio" id="customRatio" name="default-custom-toggle" value="customRatio">
            <label for="customRatio">Upload Custom Data</label>
            <br>
            <span id="custom-file-upload" class="custom-file-upload" style="display:none">
                <label for="file-upload" class="custom-file-upload">
                    Upload Custom File
                </label>
                <input name='yearlytimberproductratios' id="file-upload" type="file" accept=".csv"
                    aria-required="true" />
            </span>
            <br>
            <br> -->
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-02">Back</button><button type="button"
                    class="nextbtn acc-02">Next</button>
            </span>
        </div>

        <h1 id="acc-03" class="acc-h1" role="button" tabindex="0"><span>03</span>Upload Yearly primary product ratios or
            choose region for default
            ratios</h1>
        <div>
            <span style="display: flex;">
                <label for="regionselection">Select a Region</label>
                <span class="select-dropdown">
                    <select name="regionselection" id="regionselection">
                        <option value="North Central">North Central</option>
                        <option value="Northeast">Northeast</option>
                        <option value="Pacific Northwest, East">Pacific Northwest, East</option>
                        <option value="Pacific Northwest, West">Pacific Northwest, West</option>
                        <option value="Pacific Southwest">Pacific Southwest</option>
                        <option value="Rocky Mountain">Rocky Mountain</option>
                        <option value="South Central">South Central</option>
                        <option value="Southeast">South East</option>
                        <option value="West">West</option>
                        <option value="Custom">Custom</option>
                    </select>
                </span>
                <a class="info-circle"><i id="modal3" class="fa-solid fa-circle-info"></i></a>
            </span>
            <p> Or </p>
            <br>
            <span style="width: 100%">
                <label for="customregion" id="buttonlabel">
                    <span role="button" aria-controls="filename" tabindex="0">
                        Upload Custom Region
                    </span>
                </label>
                <input name='customregion' type="file" class="fileupload filename4" id="customregion" accept=".csv" />
                <label for="filename" class="hide">
                    uploaded file
                </label>
                <input type="text" id="filename4" autocomplete="off" readonly placeholder="no file uploaded">
                <i class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                <br>
                <br>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-03">Back</button><button type="button"
                    class="nextbtn acc-03">Next</button>
            </span>
        </div>

        <h1 id="acc-04" class="acc-h1" role="button" tabindex="0"><span>04</span>Upload custom ratios (optional)</h1>
        <div>
            <h2 class="acc-h2" role="button" tabindex="0">Upload yearly end use product ratios</h2>

            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="EndUseRatiosFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='EndUseRatiosFilename' type="file" class="fileupload filename5"
                        id="EndUseRatiosFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename5" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal4" class="fa-solid fa-circle-info"></i></a>
            </div>
            <!-- <h2 class="acc-h2" role="button" tabindex="0">Upload end use product half lives</h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="EndUseHalfLivesFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='EndUseHalfLivesFilename' type="file" class="fileupload filename6"
                        id="EndUseHalfLivesFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename6" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle" href="#"><i class="fa-solid fa-circle-info"></i></a>
            </div> -->
            <h2 class="acc-h2" role="button" tabindex="0">Upload discarded products disposition ratios</h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="DispositionsFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='DispositionsFilename' type="file" class="fileupload filename7"
                        id="DispositionsFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename7" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal5" class="fa-solid fa-circle-info"></i></a>
            </div>
            <!-- <h2 class="acc-h2" role="button" tabindex="0">Upload Discarded products disposition half lives and land fill
                fixed ratios
            </h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="DispositionHalfLivesFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='DispositionHalfLivesFilename' type="file" class="fileupload filename8"
                        id="DispositionHalfLivesFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename8" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal6" class="fa-solid fa-circle-info"></i></a>
            </div> -->
            <h2 class="acc-h2" role="button" tabindex="0">Upload Distribution parameters</h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="DistributionDataFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='DistributionDataFilename' type="file" class="fileupload filename9"
                        id="DistributionDataFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename9" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal7" class="fa-solid fa-circle-info"></i></a>
            </div>
            <h2 class="acc-h2" role="button" tabindex="0">Upload Proportions for burned with energy capture</h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="BurnedRatiosFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='BurnedRatiosFilename' type="file" class="fileupload filename10"
                        id="BurnedRatiosFilename" accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename10" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal8" class="fa-solid fa-circle-info"></i></a>
            </div>
            <!-- <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-04">Back</button><button type="button"
                    class="nextbtn acc-04">Next</button>
            </span> -->
            <!-- <h2 class="acc-h2" role="button" tabindex="0">Upload Custom CCF to MGC Ratios </h2>
            <div style="display: flex;">
                <span style="display: flex; width: 100%;">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <label for="CcfToMgcFilename" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='CcfToMgcFilename' type="file" class="fileupload filename11" id="CcfToMgcFilename"
                        accept=".csv" />
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input type="text" id="filename11" autocomplete="off" readonly placeholder="no file uploaded">
                    <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                </span>
                <a class="info-circle"><i id="modal9" class="fa-solid fa-circle-info"></i></a>
            </div> -->
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-04">Back</button><button type="button"
                    class="nextbtn acc-04">Next</button>
            </span>
        </div>
        <h1 id="acc-05" class="acc-h1" role="button" tabindex="0"><span>05</span>Enter a loss factor 0-1</h1>
        <div>
            <span style=" width: 100%;">
                <label for="loss-factor" style="margin-right: 0.5em;">Enter number between 0 and 1</label>
                <input id="loss-factor" type="number" name="lossfactor" step="0.01" min="0" max="1" value="0.08"
                    required />
            </span>
            <a class="info-circle"><i id="modal10" class="fa-solid fa-circle-info"></i></a>

            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-05">Back</button><button type="button"
                    class="nextbtn acc-05">Next</button>
            </span>

        </div>
        <h1 id="acc-06" class="acc-h1" role="button" tabindex="0"><span>06</span>Enter number of iterations</h1>
        <div>
            <span style="width: 100%;">
                <label style="margin-right: 0.5em;" for="monte-carlo-sim">
                    Monte Carlo Simulation
                </label>
                <input id="monte-carlo-sim" type="number" name='iterations' step="1" min="1" max="100" value="1"
                    required />
                <a class="info-circle"><i id="modal11" class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-06">Back</button><button type="button"
                    class="nextbtn acc-06">Next</button>
            </span>
        </div>

        <h1 id="acc-07" class="acc-h1" role="button" tabindex="0"><span>07</span>Enter email address to send results
        </h1>
        <div>
            <span style="width: 100%;">
                <label style="margin-right: 0.5em;" for="email-address">
                    Email
                </label>
                <input name='email' id="email-address" type="email" required>
                <a class="info-circle"><i id="modal12" class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-07">Back</button><button type="button"
                    class="nextbtn acc-07">Next</button>
            </span>
        </div>

        <h1 id="acc-08" class="acc-h1" role="button" tabindex="0"><span>08</span> Name your Run</h1>
        <div>
            <span style="width: 100%;">
                <label style="margin-right: 0.5em;" for="run-name">
                    Name
                </label>
                <input name='runname' id="run-name" type="text" required>
                <a class="info-circle"><i id="modal13" class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-08">Back</button>
                <button style="margin-right:10px;" class="previewbtn" id="previewbtn" type="button">Preview
                    Data</button>
                <button class="submitbtn" id="getdata" role="button" type="submit" tabindex="0">Submit
                    Data</button>
            </span>
            <span>

            </span>
        </div>


</div>


</form>

</div>
<!-- The Info Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-content">Some text in the Modal..</p>
    </div>
</div>
<!-- The Preview Data Modal -->
<div id="preview-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="preview-modal-title">Inputs</p>
        <br>
        <p id="preview-modal-content">Some text in the Modal..</p>
    </div>
</div>