<span tabindex="0" class="acc-change-toggle">
    <p>Change Mode:</p><input type="radio" class="custom-radio-btn" id="default-mode" name="accordion-toggle"
        value="default-mode" checked><label tabindex="0" class="default-mode" style="margin-right:0.5em;"
        for="default-mode">Default
        Mode</label>
    <input type="radio" class="custom-radio-btn" id="edit-mode" name="accordion-toggle" value="edit-mode">
    <label tabindex="0" class="edit-mode" for="edit-mode">Edit</label>
</span>
<div class="accordion">
    <form enctype="multipart/form-data" name="forms" id="forms" action="{{ url_for('upload') }}" method="post">
        <h1 id="acc-01" class="acc-h1" role="button" tabindex="0"><span>01</span>Upload annual harvest data</h1>
        <div>
            <span style="display: flex;">
                <span style="width: 100%;">
                    <i class="required-alert fa-solid fa-circle-exclamation"></i>
                    <label for="fu-yearly-harvest" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name='yearlyharvestinput' type="file" class="fileupload filename1" id="fu-yearly-harvest"
                        accept=".csv" required="true" aria-required="true">
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input name="filename" type="text" id="filename1" autocomplete="off" readonly
                        placeholder="No file uploaded">
                    <i tabindex="0" class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    <br>
                    <br>
                    <p>Select the units of your harvest data, either million board feet (MBF) or 100 cubic board feet
                        (CCF). Final model results will be in units of metric tons carbon and metric tons
                        CO<sub>2</sub>e.</p>
                    <input type="radio" id="ccf" name="harvestdatatype" value="ccf" class="custom-radio-btn" checked>
                    <label tabindex="0" id="ccf-label" for="ccf">CCF</label>
                    <input type="radio" id="mbf" name="harvestdatatype" value="mbf" class="custom-radio-btn">
                    <label tabindex="0" id="mbf-label" for="mbf">MBF</label>
                    <br>
                    <span id="mbftoccf-custom-fu" class="custom-file-upload" style="display:none;">
                        <br>
                        <p>Use Default Ratios or Upload Custom MBF to CCF Ratios </p>
                        <label for="fu-mbftoccf-conversion" id="buttonlabel">
                            <span role="button" aria-controls="filename" tabindex="0">
                                Upload File
                            </span>
                        </label>
                        <input name='MbfToCcfFilename' type="file" id="fu-mbftoccf-conversion" accept=".csv"
                            class="fileupload filename2">
                        <label for="filename" class="hide">
                            uploaded file
                        </label>
                        <input name="filename" type="text" id="filename2" autocomplete="off" readonly
                            placeholder="No file uploaded">
                        <i tabindex="0" class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    </span>
                </span>
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal1"
                        class="fa-solid fa-circle-info" type="button"></i></a>
            </span>
            <span class="nextbackbtn-container"><button type="button" style="height: 46px;" class="nextbtn acc-01"
                    tabindex="0">Next</button></span>

        </div>
        <h1 id="acc-02" class="acc-h1" role="button" tabindex="0"><span>02</span>Upload annual timber product ratios
        </h1>
        <div>
            <span style="display: flex;">
                <span style="width: 100%;">
                    <p>Timber product ratios show the proportion of harvested wood going to timber product classes. This
                        data is available for USFS Cut/Sold reports but may need to be derived by working with timber
                        product output specialists.</p>
                    <br>
                    <br>
                    <i class="required-alert fa-solid fa-circle-exclamation"></i>
                    <label for="yearlytimberproductratios" id="buttonlabel">
                        <span role="button" aria-controls="filename" tabindex="0">
                            Upload File
                        </span>
                    </label>
                    <input name="yearlytimberproductratios" type="file" class="fileupload filename3"
                        id="yearlytimberproductratios" accept=".csv" required aria-required="true">
                    <label for="filename" class="hide">
                        uploaded file
                    </label>
                    <input name="filename" type="text" id="filename3" autocomplete="off" readonly
                        placeholder="No file uploaded">
                    <i tabindex="0" class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    <br>
                    <br>
                </span>
                <a tabindex="0" class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal2"
                        class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-02">Back</button><button type="button"
                    class="nextbtn acc-02">Next</button>
            </span>
        </div>
        <h1 id="acc-03" class="acc-h1" role="button" tabindex="0"><span>03</span>Upload yearly primary product
            ratios or
            choose region for default
            ratios</h1>
        <div>
            <figure>
                <img src="../../static/images/region_map.png" width="100%" alt="Region Map">
                <figcaption style="font-size: 1.6rem;">Definitions of Regions: Pacific Northwest, West (PWW); Pacific
                    Northwest, East (PWE);
                    Pacific Southwest (PSW); Rocky Mountain, North (RMN); Rocky Mountain, South (RMS); Northern
                    Prairie States (NPS); Northern Lake States (NLS); Northeast (NE); SOuth Central (SC); and
                    Southeast (SE). Note that regions are merged for some tables, these combinations include: NLS
                    and NPS as North Central; PWW, PWE, and PSW as Pacific Coast; RMN and RMS as Rocky Mountain; SC
                    and SE as South and RMN, RMS, PWE, and PSW as West (except where stated otherwise).</figcaption>
            </figure>
            <br>
            <br>
            <span style="width: 100%" class="region-select">
                <label for="regionselection">Select a Region</label>
                <span style="display: flex;">
                    <span class="select-dropdown">
                        <select name="regionselection" id="regionselection">
                            <option value="North Central">North Central</option>
                            <option value="Northeast">Northeast</option>
                            <option value="Pacific Northwest, East">Pacific Northwest, East</option>
                            <option value="Pacific Northwest, West">Pacific Northwest, West</option>
                            <option value="Pacific Southwest">Pacific Southwest</option>
                            <option value="Rocky Mountain">Rocky Mountain</option>
                            <option value="South Central">South Central</option>
                            <option value="Southeast">South East</option>
                            <option value="West">West</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </span>

                </span>
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal3"
                        class="fa-solid fa-circle-info"></i></a>
            </span>
            <br>
            <p> Or Upload Custom Region</p>
            <span style="width: 100%">
                <label for="customregion" id="buttonlabel">
                    <span role="button" aria-controls="filename" tabindex="0">
                        Upload File
                    </span>
                </label>
                <input name='customregion' type="file" class="fileupload filename4" id="customregion" accept=".csv" />
                <label for="filename" class="hide">
                    uploaded file
                </label>
                <input name="filename" type="text" id="filename4" autocomplete="off" readonly
                    placeholder="Using default">
                <i tabindex="0" class="cancel-upload-btn fa-solid fa-circle-xmark"></i>
                <span class="nextbackbtn-container">
                    <button type="button" class="backbtn acc-03">Back</button><button type="button"
                        class="nextbtn acc-03">Next</button>
                </span>
        </div>

        <h1 id="acc-04" class="acc-h2" role="button" tabindex="0"><span>04</span>Upload custom ratios (optional)</h1>
        <div>
            <h2 id="acc-04b" class="acc-h2" role="button" tabindex="0">Select end use in use (products in use) survival
                function</h2>

            <div>
                <p>The survival function dictates the lifecycle or harvested wood products in use.</p>
                <br><br>
                <span style="display: flex;">
                    <input type="radio" id="chi" name="enduseproductrates" value="Chi" class="custom-radio-btn" checked>
                    <label tabindex="0" id="chi-label" for="chi"
                        style="transform: translateY(-5px); margin-right:0.5em;">Chi
                        squared</label>
                    <input type="radio" id="halflife" name="enduseproductrates" value="halflife"
                        class="custom-radio-btn">
                    <label tabindex="0" id="halflife-label" for="halflife"
                        style="transform: translateY(-5px);">Exponential
                    </label>

                    <a class=" info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal4"
                            class="fa-solid fa-circle-info"></i></a>
                </span>
            </div>

            <h2 id="acc-04c" class="acc-h2" role="button" tabindex="0">Upload yearly end use product ratios</h2>

            <div>
                <p>These ratios distribute primary products into their final end uses.</p>
                <br><br>
                <span style="display: flex;">
                    <span class="file-input-container">
                        <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                        <span style="display: flex;">
                            <label for="EndUseRatiosFilename" id="buttonlabel">
                                <span role="button" aria-controls="filename" tabindex="0">
                                    Upload File
                                </span>
                            </label>
                            <input name='EndUseRatiosFilename' type="file" class="fileupload filename5"
                                id="EndUseRatiosFilename" accept=".csv" />
                            <label for="filename" class="hide">
                                uploaded file
                            </label>
                            <input type="text" id="filename5" autocomplete="off" readonly placeholder="Using default">
                            <i class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                        </span>

                    </span>
                    <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal5"
                            class="fa-solid fa-circle-info"></i></a>
                </span>
            </div>
            <h2 id="acc-04d" class="acc-h2" role="button" tabindex="0">Upload discarded products disposition ratios</h2>
            <div>
                <p>These ratios distribute products discarded from use into discard destinations.</p>
                <br>
                <br>
                <span style="display: flex;">
                    <span class="file-input-container">
                        <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                        <span style="display: flex;">
                            <label for="DispositionsFilename" id="buttonlabel">
                                <span role="button" aria-controls="filename" tabindex="0">
                                    Upload File
                                </span>
                            </label>
                            <input name='DispositionsFilename' type="file" class="fileupload filename7"
                                id="DispositionsFilename" accept=".csv" />
                            <label for="filename" class="hide">
                                uploaded file
                            </label>
                            <input name="filename" type="text" id="filename7" autocomplete="off" readonly
                                placeholder="Using default">
                            <i tabindex="0" class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                        </span>
                    </span>
                    <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal6"
                            class="fa-solid fa-circle-info"></i></a>
                </span>
            </div>
            <h2 id="acc-04e" class="acc-h2" role="button" tabindex="0">Upload discarded products disposition decay rates
            </h2>
            <div>
                <p>Landfills can have a “fixed” rate at which discarded products are permanently sequestered. All
                    destinations have a first order decay rate that removes carbon from the discarded destination and
                    emits it to the atmosphere.</p>
                <br>
                <br>
                <span style="display: flex;">
                    <span class="file-input-container">
                        <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                        <span style="display: flex;">
                            <label for="DispositionHalfLivesFilename" id="buttonlabel">
                                <span role="button" aria-controls="filename" tabindex="0">
                                    Upload File
                                </span>
                            </label>
                            <input name='DispositionHalfLivesFilename' type="file" class="fileupload filename8"
                                id="DispositionHalfLivesFilename" accept=".csv" />
                            <label for="filename" class="hide">
                                uploaded file
                            </label>
                            <input name="filename" type="text" id="filename8" autocomplete="off" readonly
                                placeholder="Using default">
                            <i tabindex="0" class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                        </span>
                    </span>
                    <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal7"
                            class="fa-solid fa-circle-info"></i></a>
                </span>
            </div>

            <h2 id="acc-04f" class="acc-h2" role="button" tabindex="0">Upload proportions for burned with energy capture
            </h2>
            <div style="display: flex;">
                <span class="file-input-container">
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or</p>
                    <span style="display: flex;">
                        <label for="BurnedRatiosFilename" id="buttonlabel">
                            <span role="button" aria-controls="filename" tabindex="0">
                                Upload File
                            </span>
                        </label>
                        <input name='BurnedRatiosFilename' type="file" class="fileupload filename10"
                            id="BurnedRatiosFilename" accept=".csv" />
                        <label for="filename" class="hide">
                            uploaded file
                        </label>
                        <input name="filename" type="text" id="filename10" autocomplete="off" readonly
                            placeholder="Using default">
                        <i tabindex="0" class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    </span>
                </span>
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal8"
                        class="fa-solid fa-circle-info"></i></a>
            </div>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-04">Back</button><button type="button"
                    class="nextbtn acc-04">Next</button>
            </span>
        </div>
        <h1 id="acc-05" class="acc-h1" role="button" tabindex="0"><span>05</span>Enter a wood product end use loss
            factor</h1>
        <div>
            <span style=" width: 100%;">
                <p>Some wood products are lost before being put into use. This loss factor represents how much product
                    as a percentage
                    is lost from wood end use products.</p>
                <br>
                <br>
                <i class="required-alert fa-solid fa-circle-exclamation"></i>
                <label for="loss-factor" style="margin-right: 0.5em;">Enter number between 0 and 100%</label>
                <input id="loss-factor" type="number" name="lossfactor" step="1" min="0" max="100" value="8" required
                    aria-required="true" /> <span style="font-family: var(--montserrat);
                    font-size: 1.8rem;">%</span>
            </span>
            <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal9"
                    class="fa-solid fa-circle-info"></i></a>

            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-05">Back</button><button type="button"
                    class="nextbtn acc-05">Next</button>
            </span>

        </div>
        <h1 id="acc-06" class="acc-h1" role="button" tabindex="0"><span>06</span>Enter number of Monte
            Carlo
            iterations
        </h1>
        <div>
            <span tabindex="0" class="acc-monte-carlo-disclaimer">
                <p>Monte Carlo Disclaimer:</p>
                <p>
                    IPCC provides information on potential sources of uncertainty associated with the estimates of CO2
                    emissions and removals arising from HWP.
                    HWPC model's algorithm is deterministic, but requires recursion to simulate recycled materials
                    re-entering use.
                    This makes HWPC computationally <b>expensive</b> and <b>time-consuming</b>.
                    If activated, a Monte Carlo simulation of HWPC will exponentially increase the number of iterations
                    that must be run and will take an extremely long time to run.
                </p>
                <p>Unless your reporting requires measurement of uncertainty, Monte Carlo simulations of HWPC are not
                    necessary.</p>
                <br>
                <button id="mc-disclaimer">I Understand and Accept.</button>
            </span>


            <span class="disabled" style="width: 100%;">
                <i class="required-alert fa-solid fa-circle-exclamation"></i>
                <label style="margin-right: 0.5em;" for="monte-carlo-sim">
                    Monte Carlo Simulation
                </label>
                <input id="monte-carlo-sim" type="number" name='iterations' step="1" min="1" max="100" value="1" />
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal10"
                        class="fa-solid fa-circle-info"></i></a>
            </span>
            <br>
            <br>
            <span class="disabled" style="display: flex;">
                <span class="file-input-container">
                    <i class="required-alert fa-solid fa-circle-exclamation"></i>
                    <p class="h2defaultlabel" style="margin-right: 0.3em;">Use Default or upload distribution parameters
                    </p>
                    <span style="display: flex;">
                        <label for="DistributionDataFilename" id="buttonlabel">
                            <span role="button" aria-controls="filename" tabindex="0">
                                Upload File
                            </span>
                        </label>
                        <input name='DistributionDataFilename' type="file" class="fileupload filename9"
                            id="DistributionDataFilename" accept=".csv" />
                        <label for="filename" class="hide">
                            uploaded file
                        </label>
                        <input name="filename" type="text" id="filename9" autocomplete="off" readonly
                            placeholder="Using default">
                        <i tabindex="0" class="h2-cancel cancel-upload-btn fa-solid fa-circle-xmark"></i>
                    </span>
                </span>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-06">Back</button><button type="button"
                    class="nextbtn acc-06">Next</button>
            </span>
        </div>

        <h1 id="acc-07" class="acc-h1" role="button" tabindex="0"><span>07</span>Enter email address to send results
        </h1>
        <div>
            <p>Once Calculations are complete an email will be sent to you from Amazon SES with the url link of outputs
                where you can
                download graphs, .cvs, and pdfs. Please make sure to check your Spam folder. </p>
            <br><br>
            <span style="width: 100%;">
                <i class="required-alert fa-solid fa-circle-exclamation"></i>
                <label style="margin-right: 0.5em;" for="email-address">
                    Email
                </label>
                <input name='email' id="email-address" type="email" required aria-required="true">
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal11"
                        class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-07">Back</button><button type="button"
                    class="nextbtn acc-07">Next</button>
            </span>
        </div>

        <h1 id="acc-07" class="acc-h1" role="button" tabindex="0"><span>08</span> Name your run</h1>
        <div>
            <span style="width: 100%;">
                <i class="required-alert fa-solid fa-circle-exclamation"></i>
                <label style="margin-right: 0.5em;" for="run-name">
                    Name
                </label>
                <input name='runname' id="run-name" type="text" required aria-required="true">
                <a class="info-circle" role="button" aria-label="More Info"><i tabindex="0" id="modal12"
                        class="fa-solid fa-circle-info"></i></a>
            </span>
            <span class="nextbackbtn-container">
                <button type="button" class="backbtn acc-08">Back</button>
                <button style="margin-right:10px;" class="previewbtn" id="previewbtn" type="button">Preview
                    Data</button>
                <button class="submitbtn" id="getdata" role="button" type="submit" tabindex="0">Submit
                    Data</button>
            </span>
            <span>

            </span>
        </div>


</div>


</form>

</div>
<!-- The Info Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span tabindex="0" class="close">&times;</span>
        <p id="modal-content">Some text in the Modal..</p>
    </div>
</div>
<!-- The Preview Data Modal -->
<div tabindex="1" id="preview-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="preview-modal-title">Inputs</p>
        <br>
        <p id="preview-modal-content">Some text in the Modal..</p>
    </div>
</div>