<div class="dl-container" id="dl-opened">
        <div class="dl-modal">
                <div class="dl-modal-details">
                        <h1 class="dl-modal-title">Download Files</h1>
                        <p class="dl-modal-desc">
                                <form id="download_files_form">
                                        <ul style="text-align: left;" class="dl-files">

                                                <li><input type="checkbox" checked="checked"
                                                                id="all_results_final_hidden_chk"
                                                                name="all_results_final_hidden_chk"
                                                                value="all_results_final_hidden" /><label
                                                                for="all_results_final_hidden">
                                                                Final Results
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="total_solid_carbon_dispositions_hidden_chk"
                                                                name="total_solid_carbon_dispositions_hidden_chk"
                                                                value="total_solid_carbon_dispositions_hidden" /><label
                                                                for="total_solid_carbon_dispositions_hidden">
                                                                Total Cumulative Solid Carbon Dispositions
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="total_emissions_dispositions_hidden_chk"
                                                                name="total_emissions_dispositions_hidden_chk"
                                                                value="total_emissions_dispositions_hidden" /><label
                                                                for="total_emissions_dispositions_hidden">
                                                                Total Cumulative Emissons
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="annual_net_change_carbon_stocks_hidden_chk"
                                                                name="annual_net_change_carbon_stocks_hidden_chk"
                                                                value="annual_net_change_carbon_stocks_hidden" /><label
                                                                for="annual_net_change_carbon_stocks_hidden">
                                                                Annual Net Change Carbon Stocks
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="annual_harvest_and_timber_product_output_hidden_chk"
                                                                name="annual_harvest_and_timber_product_output_hidden_chk"
                                                                value="annual_harvest_and_timber_product_output_hidden" /><label
                                                                for="annual_harvest_and_timber_product_output_hidden">
                                                                Annual Harvest and Timber Product Output
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="burned_with_energy_capture_emissions_hidden_chk"
                                                                name="burned_with_energy_capture_emissions_hidden_chk"
                                                                value="burned_with_energy_capture_emissions_hidden" /><label
                                                                for="burned_with_energy_capture_emissions_hidden">
                                                                Total Burned with Energy Capture Emissions
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="burned_without_energy_capture_emissions_hidden_chk"
                                                                name="burned_without_energy_capture_emissions_hidden_chk"
                                                                value="burned_without_energy_capture_emissions_hidden" /><label
                                                                for="burned_without_energy_capture_emissions_hidden">
                                                                Total Burned without Energy Capture Emissions
                                                        </label></li>

                                                <li><input type="checkbox" checked="checked"
                                                                id="swds_emissions_hidden_chk"
                                                                name="swds_emissions_hidden_chk"
                                                                value="swds_emissions_hidden" /><label
                                                                for="swds_emissions_hidden">
                                                                Total SWDS Emissions
                                                        </label></li>


                                        </ul>
                                        <button type="button" class="custom-btn custom-btn-download btn-calc"
                                                id="download">Download Files</button>
                                        <br>
                                        <br>
                                        <ul style="display: flex; margin: auto; width: fit-content;"><input
                                                        type="checkbox" unchecked id="official_check">
                                                <label for="official_check" class="official_chk_label">
                                                        <p> Keep as Official Records. All other files will be deleted
                                                                after
                                                                14 days. A record is information in any media created or
                                                                received while fulfilling the duties of your position or
                                                                conducting official business that documents Agency
                                                                function,
                                                                organization, and activities.</p>
                                                </label>
                                        </ul>
                                </form>

                        </p>
                </div>


                <p class="dl-modal-text"></p>
                <a href="#dl-closed" class="link-2"></a>
        </div>
</div>