<section id="how-it-works" class="graphic-container">
    <!-- <h1>How it Works</h1> -->
    <div class="container-bg container__inputs">
        <h2>Inputs</h2>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual harvest <br> divided into timber product classes (MBF)
            </h3>
        </div>
        <div class="center">
            <div tabindex="0" class="center">
                {% include "components/downarrow.html" %}
                <p class="arrow-tagline">Primary Product Ratios</p>
            </div>
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual output of primary products (CCF)
            </h3>
        </div>
        <div class="center">
            <div tabindex="0" class="center">
                {% include "components/downarrow.html" %}
                <p class="arrow-tagline">Conversion Factors</p>
            </div>
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                Annual output of primary products (metric ton C)
            </h3>
        </div>
        <div class="center">
            <div tabindex="0" class="center">
                {% include "components/downarrow.html" %}
                <p class="arrow-tagline">End Use Ratios</p>
            </div>
        </div>
        <div tabindex="0" class="graphic-card inputs">
            <h3>
                C distributed to end uses (metric ton C)
            </h3>
        </div>
    </div>
    <div class="center">
        <div class="center" style="margin-top: 2em;">
            {% include "components/downarrow.html" %}
        </div>
    </div>


    <div id="calculator-graphic" class="container__calculator">
        <h3>HWPCarbon Calculator</h3>
    </div>
    <div class="center">
        <div style="display: flex; margin-top: 2em; justify-content: space-between; width: 200px">
            {% include "components/downarrow.html" %}
            {% include "components/downarrow.html" %}
        </div>
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <defs>
            <marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
        <g fill="none" stroke="black" stroke-width="2" marker-end="url(#arrowhead)">
            <path id="arrowcurve" d="M 842 2212 C 742 2212 662 2715 7622715" />
            <path id="arrowRight" />
        </g>
    </svg> -->

    <div tabindex="0" class="container-bg container__outputs">
        <h2>Outputs</h2>
        <span style="display: flex;">
            <div>
                <div tabindex="0" class="graphic-card output-lg">
                    <h3>Discarded</h3>
                </div>
                <div id="recycled" tabindex="0" class="graphic-card recycled output">
                    <h4>Recycled/Recovered</h4>
                </div>
                <div tabindex="0" class="graphic-card output">
                    <h4>Landfills</h4>
                </div>
                <div tabindex="0" class="graphic-card output">
                    <h4>Dumps</h4>
                </div>
                <div tabindex="0" class="graphic-card output">
                    <h4>Compost</h4>
                </div>
                <div tabindex="0" class="graphic-card output">
                    <h4>Burned</h4>
                </div>
            </div>
            <div id="inUse" tabindex="0" class="graphic-card output-lg">
                <h3>In Use</h3>
            </div>
        </span>

    </div>
    <div class="center" style="margin-top: 2em;">
        {% include "components/downarrow.html" %}
    </div>
    <div class="container-bg container__results">
        <h2>Results</h2>
        <span style="display: flex;">
            <div id="emittedEnergyCapture" tabindex="0" class="graphic-card results">
                <h3>
                    Emitted with energy capture (metric ton C)
                </h3>
            </div>
            <div id="productsInUse" tabindex="0" class="graphic-card results">
                <h3>
                    Products in use (metric ton C)
                </h3>
            </div>
            <div tabindex="0" class="graphic-card results">
                <h3>
                    Products in SWDS (metric ton C)
                </h3>
            </div>
            <div tabindex="0" class="graphic-card results">
                <h3>Emitted without energy capture (metric ton C)</h3>
            </div>
        </span>
    </div>
</section>