<section id="systemFlow" style="margin-bottom: 150px;">
    <!-- Tab Links -->
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'flowChartContent')" id="defaultOpen">Flowchart</button>
    </div>

    <!-- Tab Content -->
    <div id="flowChartContent" class="tabcontent" style="display: flex;">
        <div tabindex="0" aria-label="Flowchart" class="flowchart" style="display:flex;">
            {% include "components/legend.html" %}
            {% include "components/howitworksflowchart.html" %}
        </div>
    </div>
</section>