<div class="flowchart-container fixedElement">
    <div class="flowchart-legend ">
        <ul>
            <li>
                <div class="legend-circle dark-grn"></div>
                <p>Required Inputs</p>
            </li>
            <li>
                <div class="legend-circle light-grn"></div>
                <p>Optional Overrides</p>
            </li>
            <li>
                <div class="legend-circle yellow"></div>
                <p>Intermediate Steps</p>
            </li>
            <li>
                <div class="legend-circle red"></div>
                <p>Results</p>
            </li>
        </ul>
    </div>
</div>