<nav class="navbar">
    <!-- LOGO -->
    <div class="logo"><a href="/home"><img src="../../static/images/hwpc-logo-1.svg" alt="HWPCarbon Logo"
                height="35px"></a></div>
    <!-- NAVIGATION MENU -->

    <ul class="main-nav nav-links">
        <!-- CHECKBOX HACK FOR MOBILE -->
        <input type="checkbox" id="nav-mobile-toggle" />
        <label for="nav-mobile-toggle" class="hamburger"><i role="presentation" class="fa-solid fa-bars"></i></label>

        <!-- NAVIGATION MENU -->
        <div class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/home#how-it-works">How it works</a></li>
            <li><a href="/home#contact">Contact</a></li>
            <li class="logout"><a href="/logout">Logout</a></li>
            <li><a href="/calculator"><button class="custom-btn btn-calc">Calculator</button></a></li>

        </div>
        <li class="logout-btn"><a href="/logout"><i id="logoutBtn" class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
    </ul>
</nav>